@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  position: relative;
}
:root {
  --main-color: #ff9800;
  --main-transition: 0.3s;
}
.container {
  max-width: 100%;
  width: 1170px;
  padding: 0px 15px;
  margin: auto;
}
.gold {
  color: gold;
}
.button-up {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0px 0px 5px 2px #666;
  cursor: pointer;
  transition: var(--main-transition);
  background-color: var(--main-color);
  z-index: 1000;
}
.button-up:hover {
  opacity: 0.7;
}
.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333b3;
  z-index: 999;
  top: 0;
  left: 0;
}
.popup-box {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  box-shadow: 0px 0px 10px 2px #222;
  padding: 20px;
}
.popup-box img {
  max-width: 100%;
  height: 330px;
  width: 700px;
}
.popup-text {
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
}
.popup-box .close {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.popup-box .close:hover {
  opacity: 0.6;
}
@media (max-width: 400px) {
  .popup-box img {
    height: 200px;
  }
}
@media (min-width: 401px) {
  .popup-box img {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .landing-page {
    background-position: center;
  }
  .container {
    width: 500px;
  }
  .about-us {
    flex-direction: column;
  }
  .about-us .text {
    width: 100% !important;
  }
  .about-us .image img {
    width: 100px;
  }
  header ul.not-wide {
    flex-direction: column;
    position: absolute;
    top: 0%;
    right: -10px;
    background-color: #333;
    width: 200px !important;
    height: 200px;
    padding: 10px 0;
    justify-content: center !important;
    display: none;
  }
  header ul.wide {
    display: none;
  }
  header ul li {
    margin-left: 0 !important;
    margin: 5px 0;
  }
  header .icon {
    display: block !important;
    position: relative;
    z-index: 1;
    font-size: 30px;
  }
  .about-us .image {
    width: 100% !important;
  }
  .popup-box {
    left: 0;
    transform: translate(5%, -50%);
    width: 90%;
  }
  .popup-box .popup-text {
    font-size: 16px;
  }
  .contact .container form {
    flex-direction: column;
  }
  .contact .container form .section:last-of-type {
    width: 100%;
    margin-left: 0 !important;
  }
  .button-up {
    right: 20px;
    bottom: 20px;
  }
}
@media (min-width: 769px) {
  .container {
    width: 1000px;
  }
  header ul.not-wide {
    display: none !important;
  }
  .popup-box {
    left: 0;
    transform: translate(5%, -50%);
    width: 90%;
  }
  .popup-box img {
    height: 350px;
    width: 100%;
  }
}
@media (min-width: 920px) {
  .container {
    width: 1200px;
  }
  .popup-box {
    width: 900px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  background-color: #fff;
  width: 200px;
  z-index: 999;
  min-height: 100vh;
  transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .gear {
  position: absolute;
  right: -40px;
  top: 150px;
  background-color: #fff;
  cursor: pointer;
}
.gear .fa-gear {
  width: 40px;
  padding: 10px 0;
  color: var(--main-color);
}
.settings-box .option-box {
  padding: 10px;
  background-color: #eee;
  margin: 10px;
  text-align: center;
}
.settings-box .option-box h3 {
  color: #666;
  margin-bottom: 5px;
  font-size: 14px;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
}
.settings-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  display: inline-block;
  border: 3px solid #eee;
}
.settings-box .option-box .colors-list li.active {
  border: 3px solid #fff;
  opacity: 1;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #f44336;
}
.settings-box .option-box .colors-list li:nth-child(6) {
  background-color: #00bcd4;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
  width: 40px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  opacity: 0.5;
  transition: var(--main-transition);
}
.settings-box .random-backgrounds span.active,
.settings-box .random-backgrounds span:hover {
  opacity: 1;
}
.settings-box .option-box .yes {
  background-color: #009688;
}
.settings-box .option-box .no {
  background-color: #f44336;
}
/* End Settings Box */
/* Start Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
}
header .logo {
  font-size: 32px;
  font-weight: bold;
  color: var(--main-color);
}
header .icon {
  display: none;
  cursor: pointer;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header ul li {
  display: inline-block;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  transition: var(--main-transition);
}
header ul li a.active,
header ul li a:hover {
  color: var(--main-color);
}
/* End Header*/
/* Start Landing Page */
.landing-page {
  height: 100vh;
  background-image: url("../images/background1.webp");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing-page .introduction {
  position: absolute;
  color: #fff;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.landing-page .introduction h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing-page .introduction h1 span {
  color: var(--main-color);
}
.landing-page .introduction p {
  font-size: 18px;
  line-height: 1.6;
}
/* End Landing Page */
/* Start About Us */
.about-us {
  padding: 50px 0px;
  display: flex;
}
.about-us .text {
  width: 50%;
}
.about-us .text h2 {
  font-weight: bold;
  font-size: 32px;
  color: var(--main-color);
  margin-bottom: 20px;
}
.about-us .text p {
  line-height: 1.7;
  color: #767676;
  margin-bottom: 20px;
}
.about-us .image {
  width: 50%;
  text-align: center;
}
.about-us .image img {
  width: 250px;
}
/* End About Us */
/* Start Our Skills */
.our-skills {
  padding: 50px 0px;
  background-color: #ddd;
}
.our-skills h2 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}
.our-skills .skill-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  margin: 10px 20px;
}
.our-skills .skill-box .skill-name {
  margin-left: 10px;
  width: 150px;
  text-align: center;
}
.our-skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  margin-left: 10px;
  border-radius: 6px;
  background-color: #f7f5f5;
  overflow: hidden;
  position: relative;
}
.our-skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: 0.5s;
}
/* End Our Skills */
/* Start Our Courses */
.courses {
  padding: 50px 0;
}
.courses h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 32px;
}
.courses .boxs {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 20px;
}
.courses .boxs .course-box {
  background-color: #333;
  width: fit-content;
  padding: 5px 5px 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.courses .boxs .course-box img {
  width: 300px;
  height: 170px;
  cursor: pointer;
  transition: var(--main-transition);
}
.courses .boxs .course-box img:hover {
  transform: scale(1.1) rotate(1deg);
}
.courses .boxs .course-box .text h3 {
  font-size: 24px;
  color: var(--main-color);
  text-align: center;
}
.courses .boxs .course-box .text span:first-of-type {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-left: 15px;
}
.courses .boxs .course-box .text span:last-of-type {
  font-size: 16px;
  color: #fff;
  position: relative;
  top: -2px;
  left: 100px;
}
.courses .boxs .course-box .text button,
.add-button {
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
  cursor: pointer;
  transition: var(--main-transition);
}
.courses .boxs .course-box .text button:hover,
.add-button:hover {
  opacity: 0.85;
}
/* End Our Courses */
/* Start Our Features */
.features {
  padding: 50px 0;
}
.features h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 32px;
  margin-bottom: 100px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feature-box {
  padding: 20px;
  text-align: center;
}
.features .feature-box img {
  background-color: #ccc;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 15px;
  border: 5px solid #fff;
  outline: 5px solid #ccc;
}
.features .feature-box h3 {
  margin: 10px 0;
  font-size: 20px;
  color: var(--main-color);
  position: relative;
  cursor: pointer;
}
.features .feature-box h3:hover::before {
  width: 95%;
}
.features .feature-box h3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 130%;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  border-radius: 6px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.features .feature-box p {
  color: #777;
  font-size: 18px;
  margin-top: 30px;
  line-height: 1.7;
}
/* End Our Features */
/* Start Testimonials */
.testimonials {
  padding: 50px 0;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
}
.testimonials::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.testimonials h2 {
  text-align: left;
  color: #fff;
  font-size: 32px;
  left: 50px;
  position: absolute;
  z-index: 2;
}
.testimonials .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
}
.testimonials .ts-box {
  background-color: #fff;
  z-index: 2;
  padding: 20px 20px 10px;
}
.testimonials .ts-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .ts-box > p {
  color: #777;
  font-size: 15px;
  height: 100px;
}
.testimonials .ts-box .info {
  display: flex;
  justify-content: left;
  align-items: center;
}
.testimonials .ts-box .text {
  text-align: left;
}
.testimonials .ts-box .text h3 {
  color: var(--main-color);
  margin-bottom: -5px;
}
.testimonials .ts-box .text p {
  color: #777;
  font-size: 15px;
}
/* End Testimonials */
/* Start Contact US */
.contact {
  position: relative;
  padding: 50px 0;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact .container h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 32px;
}
.contact .container form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin: 50px auto;
  background-color: #f9f9f9;
  padding: 20px;
}
.contact .container form .section {
  flex: 1;
}
.contact .container form .section:last-of-type {
  margin-left: 20px;
}
.contact .container form .section input:not([type="submit"]),
.contact .container form .section textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0;
  outline: none;
  caret-color: var(--main-color);
}
.contact .container form .section input:not([type="submit"]):focus,
.contact .container form .section textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact .container form .section input {
  height: 50px;
}
.contact .container form .section textarea {
  height: 190px;
  resize: none;
  display: block;
  margin: 10px 0;
}
.contact form input[type="submit"] {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 18px;
  width: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  display: block;
  transition: var(--main-transition);
}
.contact form input[type="submit"]:hover {
  opacity: 0.7;
}
/* End Contact US */
/* Start Footer */
footer {
  padding: 15px;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
footer span a {
  text-decoration: none;
  color: var(--main-color);
  transition: var(--main-transition);
}
footer span a:hover {
  opacity: 0.7;
}
/* End Footer */
